@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

h1, #Titulo {
    font-size: 50px;
    font-weight: bold;
    color: #CC99CC;
    font-family: 'Calistoga';
}

:root {
  --lila: #c59ad6;
}

.img-frame {
  max-width: 100%;
  height: auto;
  display: block;
}
