
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#Titulo{
    font-size: 50px;
    font-weight: bold;
    color: #CC99CC;
    font-family: 'Calistoga';
}

#texto{
    font-family: jetbrains-mono, monospace;
}